$myColor: red;

h1 {
  color: $myColor;
  
}

.todo-list {



    
}

.container {
    // display: flex;
    // justify-content: center;
    max-width: 100vh;

    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border:  3px solid green; 
  border-radius: 3px;
}

